/* //mobile menu  */
#mobile-menu-sidebar {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 2000ms;
}

.mobile-menu-sidebar-closed {
    transform: translateX(-16rem);
}

.mobile-menu-sidebar-open {
    transform: translateX(0);
}

/* bg slider  */

#bag-sidebar {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 2000ms;
}

.bag-sidebar-closed {
    transform: translateX(0rem);
}

.bag-sidebar-open {
    transform: translateX(0);
}